.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100%;
}
.Timer {
  font-weight: 400;
  font-size: 100px;
  margin: 0;
}
.Pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #F2EFEB;
  position: relative;
}
.Stage {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}
.Total-focus-time {
  position: absolute;
    bottom: 16px;
    left: 16px;
}
.Reset-tasks-button {
  position: absolute;
  bottom: 16px;
  width: 115px;
  right: 16px;
}
.Button-bar {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
}
button {
  padding: 12px;
  width: 100px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4A5568;
  color: #FFFFFF;
  font-size: 15px;
  transition: scale 0.2s ease-in-out, background-color 0.3s ease-in-out;
}
.Task-container-input-bar button {
  padding: 8px 16px;
  font-size: 14px;
}
button:hover {
  background-color: #718096;
  scale: 1.05;
}
.Task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFFFFF;
  padding-top: 32px;
  padding-left: 32px;
  width: 30%;
  position: relative;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.03);
}
.Task-container-header-container {
  padding: 8px 0;
}
.Task-container-header {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.Task-container-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;
  width: 100%;
}
.Taskcard {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 12px;
  border: 2px solid #CBD5E0;
  background-color: #FAFAFA;
  border-radius: 10px;
  text-align: left;
  gap: 12px;
  box-sizing: border-box;
}
.Taskcard p {
  flex: 1;
  min-width: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.Checkbox {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid #A0AEC0;
  background-color: #FFFFFF;
}
.Checkbox-complete {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid #4299E1;
  background-color: #4299E1;
}
.Narration-toggle-button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.Task-container-input-bar {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  width: 90%;
  align-items: center;
  box-sizing: border-box;
}
input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #CBD5E0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
input:focus {
  outline: none;
  border-color: #4299E1;
}
h1, h2, h3, p {
  margin: 0;
}
#root, html, body {
  height: 100%;
  font-family: 'Lexend', sans-serif;
  background-color: #F8F9FA;
  color: #2D3748;
}
