/* App Container */
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100%;
  gap: 40px;
}

.Timer {
  font-weight: 400;
  font-size: 100px;
  margin: 0;
}

.Pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #ededed;
}

.Stage {
  font-weight: 500;
  font-size: 30px;
  margin: 0;
}

.Button-bar {
  margin-top: 32px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

button {
  padding: 12px;
  width: 100px;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  font-size: 15px;
  transition: scale 0.2s ease-in-out, background-color 0.3s ease-in-out;
}

.Task-container-input-bar button {
  padding: 8px 16px;
  font-size: 14px;
}

button:hover {
  background-color: #ededed;
  scale: 1.05;
}

.Task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  padding-top: 32px;
  width: 40%;
}

.Task-container-header-container {
  padding: 8px 0;
}

.Task-container-header {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.Task-container-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 32px;
  justify-content: center;
  width: 100%;
}

.Taskcard {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 12px;
  border: 2px solid #cccccc;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  gap: 12px;
  box-sizing: border-box;
}
.Checkbox {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid #ccc;
  background-color: white;
}
.Checkbox-complete {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px solid black;
  background-color: black;
}

.Task-container-input-bar {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  width: 90%;
  align-items: center;
  box-sizing: border-box;
}
input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

#root, html, body {
  height: 100%;
}
